version: "3.9"

services:
  redis:
    image: redis:7.4
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  api:
    build: ./api_server
    container_name: api_server
    restart: always
    env_file: .env
    ports:
      - "${API_PORT}:8000"
    depends_on:
      - redis

volumes:
  redis_data:
